.time-list {
    width: 500px;
    margin: auto;
    padding-top: 20px;
    overflow: scroll;
    height: 500px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: rgb(122, 122, 122) solid 3px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px 1px rgb(153, 153, 153);
}

.time-list:hover {
    border-color: rgb(182, 45, 45);
}

.time-list .time {
    border-bottom: dashed rgb(0, 0, 0) 2px;
    padding: 0 20px 70px 15px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    line-height: 0;
}

.time-list .time:first-child {
    border-top: rgb(0, 0, 0) dashed 2px;
}

.time-list .time:last-child {
    border: none;
    padding-bottom: 0;
}

.time-list .time.active {
    background-color: #ff9999 !important;
}

.time-list .time:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}

.time-list .time span {
    padding: 3px 12px 3px 12px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(157, 157, 157);
    border-radius: 15px;
}